@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* Custom scrollbar for Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply  rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-transparent rounded-full hover:bg-zinc-400 transition-colors;
}

/* Custom scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}

body {
    font-family: 'Urbanist', sans-serif;
}

input {
    outline: none;
}

/* Hide number input spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

input[type=text],
input[type=number] {
    @apply bg-zinc-700 border border-zinc-600 px-4 py-2 rounded-lg text-white transition-colors focus:border-blue-500;
}

    button[type=submit] {
    @apply transition-colors hover:bg-zinc-600;
}